@import 'src/styles.scss';

:host {

    position: relative;
    display: flex;
    height: 100vh;


    .navBar {
        position: absolute;
    }

    .content {

        display: table;
        position: relative;
        flex-direction: column;

        .home {
            overflow-x: hidden;
        }
    
        .disclaimer {

            display: table-footer-group;
            
            width: 100vw;
            
            background-color: $lightGrayishBlue;
            color: $grayishBlue;
            
            p {
                text-align: center;
                font-size: .8em;
                padding: 2vh;
                
            }
        }
    }
    
}