<div class="content">

    <div class="bar">
        <img src="assets/images/logo.svg" alt="logo" class="logo">
        <img src="assets/images/icon-hamburger.svg" alt="menu" 
        class="open"
        (click)="navService.dropdownAction()"
        [class.showDiv]="!navService.isDropdownOpened"
        >
        <img src="assets/images/icon-close.svg" alt="menu" 
        class="close"
        (click)="navService.dropdownAction()"
        [class.showDiv]="navService.isDropdownOpened"
        >
    </div>

        <div class="barItems"
        [class.showMenu]="navService.isDropdownOpened"
        >

            <div class="product">PRODUCT</div>
            <div class="features">FEATURES</div>
            <div class="pricing">PRICING</div>
    
            <div class="divider"></div>
    
            <div class="login">LOGIN</div>
        </div>

</div>