<div class="hero"
(click)="navService.isDropdownOpened = false"
>
    <div class="background"></div>
    <img src="assets/images/illustration-devices.svg" alt="" class="image">
</div>

<div class="content"
(click)="navService.isDropdownOpened = false"
[class.overflow]="navService.isDropdownOpened"
>

    <div class="productName">
        <div class="badge">NEW</div>
        <div class="name">MONOGRAPH DASHBOARD</div>
    </div>
    <div class="productInfo">
        <div class="title">POWERFUL INSIGHTS INTO YOUR TEAM</div>
        <div class="description">Project planning  and time tracking for agile teams</div>
    </div>
    <div class="actions">
        <div class="actionButton">SCHEDULE A DEMO</div>
        <div class="actionDescription">TO SEE A PREVIEW</div>
    </div>

</div>

