<div class="hero">
    <div class="background"></div>
    <img src="assets/images/illustration-devices.svg" alt="" class="image">
</div>

<div class="content">

    <div class="productName">
        <p class="badge">NEW</p>
        <p class="name">MONOGRAPH DASHBOARD</p>
    </div>
    <div class="productInfo">
        <p class="title">POWERFUL INSIGHTS INTO YOUR TEAM</p>
        <p class="description">Project planning  and time tracking for agile teams</p>
    </div>
    <div class="actions">
        <p class="actionButton">SCHEDULE A DEMO</p>
        <p class="actionDescription">TO SEE A PREVIEW</p>
    </div>

</div>

