@import 'src/styles.scss';

:host {

    display: flex;
    position: relative;

    flex-direction: row;
    flex-wrap: wrap;

    gap: 0px;

    .content {
        
        display: flex;
        position: relative;
        flex-direction: column;

        padding-top: 3vh;
        padding-left: 7.5vw;

        margin-bottom: 30vh;

        gap: 20px;

        .productName {

            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            font-size: 1em;

            .badge {
                font-weight: 700;
                color: white;
                background-color: $veryDarkBlue;
                padding: 3px 10px;
                border-radius: 20px;
            }

            .name {
                font-weight: 500;
                letter-spacing: 4px;
                color: $grayishBlue;
                padding-left: 20px;
            }
        }

        .productInfo {

            display: flex;
            flex-direction: column;
            gap: 20px;

            padding-bottom: 1vw;

            .title {
                font-size: 2em;
                max-inline-size: 85vw;
                line-height: 1em;
                font-weight: 700;
                color: $veryDarkBlue;

            }

            .description {

                font-family: 'Barlow', sans-serif;
                font-size: 1em;
                max-inline-size: 75vw;
                color: $darkGrayishBlue;

            }

        }

        .actions {

            display: flex;
            flex-direction: row;
            width: 100%;

            align-items: center;

            .actionButton {

                padding: 12px;
                width: 130px;
                background-color: $primaryRed;
                border-radius: 5px;

                color: $lightGrayishBlue;
                text-align: center;
                font-size: .9em;
                font-weight: 700;
                letter-spacing: 1.2px;

                &:hover {
                    cursor: pointer;
                    background-color: rgba($primaryRed, $alpha: .8);
                }

            }

            .actionDescription {

                
                padding-left: 20px;
                text-align: center;
                font-size: .9em;
                letter-spacing: 2px;
                color: $grayishBlue;

            }

        }
        
    }

    .overflow {
        margin-bottom: 0;
    }

    .hero {

        position: relative;
        display: flex;

        width: 100vw;
        height: 55vh;

        .background {

            position: absolute;
            background-color: $lightGrayishBlue;
            
            width: 80vw;
            height: 60vh;

            top: -10%;

            border-radius: 60px;

            left: 47vw;
            
        }

        .image {

            position: absolute;

            height: 30vh;
            top: 15vh;
            padding-left: 7.5vw;

        }

    }

    @media (min-width: 600px) {

        height: 100vh;
        max-width: 100vw;
        align-items: center;

        flex-direction: row;
        justify-content: space-between;

        align-items: flex-start;


        .content {

            padding-left: 7.5vw;
            max-width: 30vw;

            position: absolute;

            padding-top: 30vh;
            

            .productInfo {
                .title {
                    font-size: 4vw;
                }

                .description {
                    max-inline-size: 20vw;
                }
            }
        }

        .hero {

            position: relative;
            display: block;
            
            .background {
    
                position: absolute;

                width: 70vw;
                height: 60vh;
    
                border-radius: 60px;
    
                top: -10vh;
                right: -20vw;
    
            }
    
            .image {
                
                position: absolute;
                height: 50vh;
                top: 27vh;
                left: 51vw;
            }
            
        }
    }
}